<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="World Without Wood">
  <meta name="author" content="Kaye So Kua">
  <title>{{title}}</title>

  <link href="{{ url_for('static', filename='css/bootstrap.css') }}" rel="stylesheet">

  <style>
    .bd-placeholder-img {
      font-size: 1.125rem;
      text-anchor: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      user-select: none;
    }

    @media (min-width: 768px) {
      .bd-placeholder-img-lg {
        font-size: 3.5rem;
      }
    }
  </style>


  <!-- Custom styles for this template -->
  <link href="{{ url_for('static', filename='css/features.css') }}" rel="stylesheet">


</head>

<body>
  {% include 'components/google.html' %}
  {% include 'components/navigation.html' %}
  <main>

    <section id="intro">
      <a name="intro"></a>
      <div class="px-5 py-5 my-5 text-right bg-success text-white">
        <h1 class="display-1">A world without <span id="woodtypes" class="fw-bold"></span></h1>
        <h1 class="display-2">means a world without <span id="woodproducts" class="fw-bold"></span></h1>
      </div>
    </section>

    <section id="about" class="d-flex justify-content-center">
      <a name="about"></a>
      <div class="px-4 py-5 my-5 text-center col-lg-8">
        <h1 class="display-5 fw-bold">The Truth about<span style="color:saddlebrown"> Wood</span></h1>
        <p class="lead mb-4">
          Wood is one of the most versatile and sustainable materials on Earth. It has been used for centuries to build homes, paper, packaging, and create works of art. Wood also stores Carbon and can substitute less environmental friendly ressources such as cement in construction.
          
        </p>
        <p class="lead mb-4">
          In Austria, approximately 15.2 million tons of wood are used annually, which amounts to about 1.7  tons per person per year. Despite its widespread use, many people are unaware of the innovative wood products that are available today.
          As experts in the forestry and wood sector, we are passionate about sharing our knowledge of wood utilization and its diverse applications. This website curates some of the most interesting and innovative ways that wood is being used today.
          
        </p>



      </div>

    </section>


    <section id="catalog">
      <a name="catalog"></a>
      <div class="row text-center bg-light">

        {% for card in catalog %}
        <div class="col-sm-12 col-lg-4">
          <div class="box">
            <div class="front" style="background-image: url('{{ card.image_url }}');">
              <div class="center">
                <p class="display-6 text-white">{{ card.title }}</p>
              </div>
            </div>
            <div class="back bg-dark">
              <div class="container text-center">
                <p class="display-6 mt-5 text-white">{{ card.title }}</p>
                <p class="text-white">{{ card.content }}</p>
                <p class="text-white">{{ card.source }}</p>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}


      </div>



      </div>
    </section>

    <section id="about" class="d-flex justify-content-center">
      <a name="about"></a>
      <div class="px-4 py-5 my-5 text-center col-lg-8">
        <h1 class="display-5 fw-bold">Now, the stage is yours!</h1>
        <p class="lead">What is a day in your life without wood? or tell us about your favourite wood product!
          Respond to our challenge #worldwithoutwood challenge. Let's make wood go viral.
        </p>

        <div class="px-4 py-5 my-5">
          <div class="row">

            <div class="col-lg-12">
              <blockquote class="tiktok-embed" cite="https://www.tiktok.com/@dancewithkaye/video/7288589975317204226"
                data-video-id="7288589975317204226" style="max-width: 605px;min-width: 325px;">
                <section> <a target="_blank" title="@dancewithkaye"
                    href="https://www.tiktok.com/@dancewithkaye?refer=embed">@dancewithkaye</a> Now it’s your turn to do
                  the challenge <a title="worldwithoutwood" target="_blank"
                    href="https://www.tiktok.com/tag/worldwithoutwood?refer=embed">#worldwithoutwood</a> Visit our
                  website to learn more about our research www.worldwithoutwood.onrender.com <a title="worldwithoutwood"
                    target="_blank" href="https://www.tiktok.com/tag/worldwithoutwood?refer=embed">#worldwithoutwood</a>
                  <a target="_blank" title="♬ original sound - Kaye"
                    href="https://www.tiktok.com/music/original-sound-7288590096558115586?refer=embed">♬ original sound
                    - Kaye</a>
                </section>
              </blockquote>
              <script async src="https://www.tiktok.com/embed.js"></script>
              <script async src="https://www.tiktok.com/embed.js"></script>
            </div>


          </div>
        </div>
      </div>
      </div>


      </div>
    </section>

    <section id="challenge">
      <a name="challenge"></a>
      <div class="py-5 text-right bg-secondary text-white d-flex justify-content-center">
        <div class="col-lg-8">
          <br>
          <br>
          <h1 class="display-2 fw-bold">Let's keep in touch</h1>
          <p class="lead"><strong><a
                href="https://onrender.us9.list-manage.com/subscribe?u=377ed88a0d74f92cdf81811f1&id=c9ba4dd178"
                class="text-white">Sign up in our volunteer interest form</a></strong> and we'll keep you posted on
            what's next</p>
          <br>
          <br>
        </div>
      </div>


    </section>

    <section id="team" class="bg-dark text-white">

      <div class="container px-4 py-5 text-center">
        <h2 class="mb-5">Meet the SKAJ Team & Sponsors</h2>
        <div class="row">
          <div class="col-sm-6 col-lg-3">
            <img src = "https://media.licdn.com/dms/image/D4D03AQH20Ei9X1qNyw/profile-displayphoto-shrink_400_400/0/1684308200135?e=1702512000&v=beta&t=wxHMK9eNqkBRWeVTtg5dp7HVXIvYwsLzd2h3rDXNSy8"
            class="bd-placeholder-img rounded-circle" width="140" height="140" />


            <p class="mt-2">
              <strong>Sabrina</strong> | Communication Wizard
            </p>
          </div>
          <div class="col-sm-6 col-lg-3">
            <img src = "https://media.licdn.com/dms/image/D4E03AQF-fFdVXik5MA/profile-displayphoto-shrink_400_400/0/1694781536397?e=1702512000&v=beta&t=7jqDBkkt-UK1gtmJcSgVrfldFMDB8W-jnbIWQ3Atbf8"
            class="bd-placeholder-img rounded-circle" width="140" height="140" />
            <p class="mt-2">
              <strong>Kaye</strong> | Out of the Box Thinker & Tech
            </p>
          </div>

          <div class="col-sm-6 col-lg-3">
            <img src = "https://media.licdn.com/dms/image/D4D03AQGCghj7WcopRQ/profile-displayphoto-shrink_400_400/0/1667377205573?e=1702512000&v=beta&t=oj3y_3NaqIQq-b-iVOu0_8SYYQNCKMpsLCiKXwFD0Tc"
            class="bd-placeholder-img rounded-circle" width="140" height="140" />
            <p class="mt-2">
              <strong>Adriana</strong> | Wood Expert
            </p>
          </div>

          <div class="col-sm-6 col-lg-3">
            <img src = "{{ url_for('static', filename='assets/images/jakob.png') }}"
            class="bd-placeholder-img rounded-circle" width="140" height="140" />
            <p class="mt-2">
              <strong>Jakob</strong> | Wood Expert
            </p>
          </div>


          <div class="col-sm-12 col-lg-12">
            <h5 class="py-3">SPONSORED BY</h5>
            <a href="https://evergreen-innovationcamp.io/" target="_blank">
              <img
                src="https://evergreen-innovationcamp.io/typo3conf/ext/theme_evergreen_innovationcamp/Resources/Public/Images/Logo/evergreen-innovation-camp-logo-dark.png"
                class="img-fluid" style="height: 125px" />
            </a>
            <p>This website was built in participation</p>
          </div>

        </div>
      </div>
    </section>

  </main>
  <script src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
  <script src="{{ url_for('static', filename='js/intro.js') }}"></script>
  <script src="{{ url_for('static', filename='js/challenge.js') }}"></script>


</body>

</html>