{% block content %}

<header class="d-flex justify-content-center py-3">

  <div>
    <ul class="nav">
      <li class="nav-item"><a href="{{ url_for('index') }}" class="nav-link link-secondary active"
          aria-current="page">Home</a></li>
      <li class="nav-item"><a href="#about" class="nav-link link-secondary">About</a></li>
      <li class="nav-item"><a href="#challenge" class="nav-link link-secondary">Challenge</a></li>
      <li class="nav-item"><a href="{{ url_for('credits') }}" class="nav-link link-secondary">Credits</a></li>
    </ul>

  </div>
</header>

{% endblock %}