{% block content %}

<h1 class="text-center mt-5 mb-5">wwwood</h1>

<header class="d-flex justify-content-center py-3">

  <div>
    <ul class="nav">
      <li class="nav-item"><a href="{{ url_for('index') }}" class="nav-link link-secondary active"
          aria-current="page">Home</a></li>
      <li class="nav-item"><a href="#about" class="nav-link link-secondary">About</a></li>
      <li class="nav-item"><a href="#catalog" class="nav-link link-secondary">Catalog</a></li>
      <li class="nav-item"><a href="#challenge" class="nav-link link-secondary">What You Can Do</a></li>
      <li class="nav-item"><a href="#team" class="nav-link link-secondary">Team & Sponsors</a></li>
      <li class="nav-item"><a href="{{ url_for('credits') }}" class="nav-link link-secondary">Credits</a></li>
    </ul>

  </div>
</header>

{% endblock %}